*{
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}

/*css reset*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    position: fixed;
    z-index: 999;
    background-color: #FFFFFF;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: #17395C;
    font-weight: 500;
    font-size: 120%;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100%;
}

#logo
{
    float: center;
    padding: 15%;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

#george
{
    padding-top: 100px;
    padding-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#home{
   background-color: #FFFFFF;
   background-size: cover;
    height: auto;
    display: block;
   
}

#about{
     background-color: #F5AD27;
     height: 100%;
     display: block;
}

#services{
     background-color: #17395C;
     color:#FFFFFF;
     height: 100%;
     display: block;
     grid-template-rows: 80px 200px;
     padding: 100px;
}

#contact{
     background-color: #B3BEC9;
     display: block;
     height: 100%;
     padding: 100px;
}

#service-img
{
    padding-top: 100px;
    padding-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container
{
    display: flex;
    flex-direction: row;
    flex: 100%;
    padding-top: 100px;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 20px;

}

.col-sm-8
{
    padding-top: 100px;
    padding-bottom: 100px;
}

h4 {
    padding-top: 3%;
    padding-bottom: 3%;
}

h1{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
    font-size: 120%;
}








