*{
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}

/*css reset*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    position: fixed;
    z-index: 999;
    background-color: #FFFFFF;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: #17395C;
    font-weight: 500;
    font-size: 120%;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100%;
}

#logo
{
    float: center;
    padding: 15%;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

#george
{
    padding-top: 100px;
    padding-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#home{
   background-color: #FFFFFF;
   background-size: cover;
    height: auto;
    display: block;
   
}

#about{
     background-color: #F5AD27;
     height: 100%;
     display: block;
}

#services{
     background-color: #17395C;
     color:#FFFFFF;
     height: 100%;
     display: block;
     grid-template-rows: 80px 200px;
     padding: 100px;
}

#contact{
     background-color: #dcf4ff;
     display: block;
     height: 100%;
     padding: 100px;
}

#service-img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container
{
    display: flex;
    flex-direction: row;
    flex: 100%;
    justify-content: space-between;
    align-content: center;
    
}

.col-sm-8
{
    padding-top: 100px;
    padding-bottom: 100px;
}

h4 {
    padding-top: 3%;
    padding-bottom: 3%;
}

h1{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
    font-size: 120%;
}

.example_f {
    border-radius: 20px;
    background: linear-gradient(to right, #F5AD27,#F7BC50,#F9CB77) !important;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 20px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
  }

  .example_f span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  .example_f span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .example_f:hover span {
    padding-right: 25px;
  }
  .example_f:hover span:after {
    opacity: 1;
    right: 0;
  }
